registry = "https://registry.npmmirror.com/"
SASS_BINARY_SITE="https://npmmirror.com/mirrors/node-sass/"
CYPRESS_DOWNLOAD_MIRROR="http://mirrors.dancf.com"
PHANTOMJS_CDNURL="https://npmmirror.com/mirrors/phantomjs"
puppeteer_download_host=https://npmmirror.com/mirrors

# 以下两个 pnpm8 默认开启，这里只是显示的写出来
auto-install-peers=true
dedupe-peer-dependents=true
